h1{
    margin-top: 181px;
    margin-left: 102px;
    margin-right: 80px;
    margin-bottom: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 99.19%;
    color: #FFFFFF;
    
    /* or 35px */
    letter-spacing: 0.025em;

}
p{
   margin-bottom: 10px;
    margin-left: 102px;
    margin-right: 80px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 99.19%;

/* or 11px */
letter-spacing: 0.018em;

color: #FFFFFF;


}
.freeBanner{
    background: #F00000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
border-radius: 5px;
padding-left: 10px;
margin-left: 20px;
margin-top: 66px;
margin-right: 105px;
margin-bottom: 20px;
width: 336px;
height: 37px;

}
.formBox{
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;
width: 388px;
height: 450px;
margin-top: 50px;
}
#selectedOption{
    margin-top: 0%;
    size: 10px;
}
.btn{
    background: #37CC8A;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.46);
border-radius: 2px;
width: 288px;
height: 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 99.19%;


/* or 10px */
letter-spacing: 0.02em;

color: #FFFFFF;



}

.form-button{
    margin: 10px;
    background: #B5B5B5;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.46);
    border-radius: 50px;
    padding: 10px;
    border: none;
    color: white;
    font-weight: 700;
}

.form-button-active{
    margin: 10px;
    background: #37CC8A;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.46);
    border-radius: 50px;
    padding: 10px;
    border: none;
    color: white;
    font-weight: 700;
}